* {
  font-family: "Roboto";
}
html,
body {
  height: 98vh;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #020e26;
}
h1 {
  position: absolute;
  color: #ffffff;
  font-size: 120px;
  transform: translate(-50%, -50%);
  animation: morph-effect 10s infinite ease-in-out;
}
h1:nth-child(1) {
  animation-delay: -10s;
}
h1:nth-child(2) {
  animation-delay: -5s;
}
@keyframes morph-effect {
  0%,
  20%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }
  40%,
  80% {
    filter: blur(16px);
    opacity: 0;
  }
}
